/* css styles */
/* Pour modifier / changer le style de votre site web. */
/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */

/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap';

$font-family-sans-serif: "Fira Sans", sans-serif;

$link-color: #568EA3;
$navbar-bg: #E9ECF5;

/*-- scss:rules --*/

.light-mode { display: block; }
.dark-mode { display: none; }


/*  Ligne 12-31 = le dégradé de couleur, simplement supprimer
au besoin */

.navbar, .nav-footer {
    background: linear-gradient(-45deg, #2b303a, #eee5e9, #7c7c7c);
    background-size: 400% 400%;
    animation: gradient 100s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

